:root {
  --main-color: #111;
  --main-font-color: #fff;
  --secondary-color: #003c5f;
  --secondary-font-color: #fff;
  --accent-color: #003c5f;

  --height-nav: 5rem;
  --height-nav-desktop: 4rem;
}